<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name= "Sanity TestSuite" parallel="tests" thread-count="5" >
 <listeners>
    <listener class-name="com.jamcracker.listeners.TestListener" />
  </listeners>
<test name="Marketplace Sanity chrome Test" preserve-order="true" enabled="false">
	   <parameter name="browser" value="chrome"></parameter>
	   <parameter name="superAdminPivotPathUrl" value="https://superadmin.jamcracker.com/pivotpath/"></parameter>
	   <parameter name="targetMpUrl" value="https://www.targetmp.com"></parameter>
	   <parameter name="payAccUrl" value="https://www.mptest2.com"></parameter>
	   <parameter name="sourceMpUrl" value="https://www.monthlymkt.com"></parameter>
	   <parameter name="sourceStoreUrl" value="https://store.sourcestore.com/cms/user/login"></parameter>
	   <parameter name="storeUrl" value="https://mntstore.jamcracker.com"></parameter>
	
	<classes>
<!-- 		<class name="com.jamcracker.testcases.marketplace.TC001CreateMarketplace"></class> -->
<!-- 		<class name="com.jamcracker.testcases.marketplace.TC002SetPassword"></class> -->
		<class name="com.jamcracker.testcases.marketplace.TC012DisableCaptcha"></class>
		<class name="com.jamcracker.testcases.marketplace.TC003StoreCreation"></class>
		<class name="com.jamcracker.testcases.marketplace.TC004StoreBranding"></class>
		<class name="com.jamcracker.testcases.marketplace.TC005ServiceCreation"></class>
		<class name="com.jamcracker.testcases.marketplace.TC010ServiceSourcing"></class> 
		<class name="com.jamcracker.testcases.marketplace.TC006StoreAdminSetPassword"></class>
		<class name="com.jamcracker.testcases.marketplace.TC009CmsStoreConfiguration"></class> 
		<class name="com.jamcracker.testcases.marketplace.TC007ResellService"></class>
 		<class name="com.jamcracker.testcases.customeManagement.TC001CustomerRegistration"></class>
 		<class name="com.jamcracker.testcases.customeManagement.TC002SetPassword"></class>
 		<class name="com.jamcracker.testcases.customeManagement.TC015AddAWSPayingAccount"></class>
 		<class name="com.jamcracker.testcases.customeManagement.TC016AddAWSLinkedAccount"></class>
 		<class name="com.jamcracker.testcases.customeManagement.TC017AddOpenstackAccount"></class>
 		<class name="com.jamcracker.testcases.customeManagement.TC003OrderNew"></class>
 		<class name="com.jamcracker.testcases.customeManagement.TC004OrderMore"></class>
 		<class name="com.jamcracker.testcases.customeManagement.TC005OrderLess"></class>
 		<class name="com.jamcracker.testcases.usermanagement.TC001AddUser"></class>
 		<class name="com.jamcracker.testcases.usermanagement.TC002Assignsubscription"></class>
 		 <class name="com.jamcracker.testcases.marketplace.TC012EnableCaptcha"></class>
<!--  		<class name="com.jamcracker.testcases.customeManagement.TC018OrderWithBudget"></class> -->
	</classes>
</test>

<test name="OpenstackIaasFlows" preserve-order="true" enabled="true">
<parameter name="storeUrl" value="https://mntstore.jamcracker.com"></parameter>
  <parameter name="browser" value="chrome"></parameter>
<classes>
  <class name="com.jamcracker.testcases.customeManagement.TC017AddOpenstackAccount"></class> 
 <!--   <class name="com.jamcracker.testcases.customeManagement.TC006PlaceStackOrder"></class>
   <class name="com.jamcracker.testcases.customeManagement.TC007IAASAction"></class>
    <class name="com.jamcracker.testcases.customeManagement.TC008VolumeAction"></class>
    <class name="com.jamcracker.testcases.customeManagement.TC010ResizeInstance"></class>
  <class name="com.jamcracker.testcases.customeManagement.TC011ImageActions"></class>
   <class name="com.jamcracker.testcases.customeManagement.TC013StaticIpAddress"></class>
   <class name="com.jamcracker.testcases.customeManagement.TC019LaunchInstFromImage"></class>
   <class name="com.jamcracker.testcases.customeManagement.TC014StackAction"></class> -->
</classes>
</test>

<test name="AwsIaasFlows" preserve-order="true" enabled="true">
<parameter name="storeUrl" value="https://mntstore.jamcracker.com"></parameter>
  <parameter name="browser" value="chrome"></parameter>
<classes>
<!--   <class name="com.jamcracker.testcases.customeManagement.TC006PlaceStackOrder"></class>
   <class name="com.jamcracker.testcases.customeManagement.TC007IAASAction"></class>
    <class name="com.jamcracker.testcases.customeManagement.TC008VolumeAction"></class>
    <class name="com.jamcracker.testcases.customeManagement.TC010ResizeInstance"></class>
  <class name="com.jamcracker.testcases.customeManagement.TC011ImageActions"></class>
   <class name="com.jamcracker.testcases.customeManagement.TC013StaticIpAddress"></class>
   <class name="com.jamcracker.testcases.customeManagement.TC019LaunchInstFromImage"></class> -->
   <class name="com.jamcracker.testcases.customeManagement.TC014StackAction"></class>
</classes>
</test>

</suite>
